{{<page}}
    {{$body}}
        <div class="text-center">
            <img src="images/hummingbird.png" class="w-64 mx-auto"/>
            <h1 class="text-xl text-white">It works...perfectly 🚀</h1>
        </div>
    {{/body}}
{{/page}}
