<!DOCTYPE html>
<html>
<head>
    <title>Mustache</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/app.generated.css" />
</head>
<body>
    <div class="flex h-screen justify-center items-center bg-black">
        {{$body}}
        {{/body}}
    </div>
</body>
</html>
